VCL_TViDoS_Final.rar filter=lfs diff=lfs merge=lfs -text
VnDocClassifyCOMServer.rar filter=lfs diff=lfs merge=lfs -text
libVCL_VieWoSeg[[:space:]]Tool[[:space:]]Ver[[:space:]]1.2.11.rar filter=lfs diff=lfs merge=lfs -text
